@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.enter {
  animation: enter 0.4s ease;
  animation-fill-mode: backwards;
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

.exit {
  animation: exit 0.4s ease;
  animation-fill-mode: forwards;
}

select::-webkit-scrollbar {
  width: 4px;
}

select::-webkit-scrollbar-track {
  background: #090a0d;
}

select::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
